.contener{
    height: 560px;
}

.contener_div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.contener_div input{
    margin: 10px;
    width: 100%;
    height: 30px;
}

.button_div {
    width: 100%;
    height: 100%;
    margin-left: 15px;
}
.form{
    width: 25%;
}

.button_div button{
    width: 49%;
    height: 30px;
    margin: 10px 1px;
}